<div class="container">
    <div class="row">
        <div class="h4">
            <%= @artist.name %>
        </div>
        <%= image_tag @artist.image.url, class:"img-show" %>
        <%= @artist.profile %>
    </div>
</div>