<%= render '/devise/shared/flash_messages' %>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="main text-center col-12">
        <h1><span class="display-1"><strong>Parrot</strong></span></h1>
        <div></div>
        <h4 class="info mt-4">
          あなたの好きなアーティストのライブ情報を共有できるSNS<br>
        </h4>
        <%= link_to "投稿する！", new_member_session_path, class:"btn btn-warning btn-lg home-btn mt-4" %>
      </div>
    </div>
    
  </div>
</div>