/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

  @import "bootstrap";


.field_with_errors {
  display: contents;
  background-color: #fcc;
  padding: 2px;
}
.error_explanation {
  background-color: #fcc;
  padding: 2px;
}

body {
  background-color: #DFEFED;
}

.btn-warning {
  color: #fff;
  background-color: #517D99;
  border-color: #517D99;
}
.btn-primary {
  color: #fff;
  background-color: #517D99;
  border-color: #517D99;
}

.btn-warning:hover {
  color: #fff;
  background-color: #517D99;
  border-color: #517D99;
}


.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.img {
  margin: 40px ;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.img-show {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 10%;
}

.member-icon {
  margin: 5px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.h-icon {
  color: #517D99;
}

.fa-heart {
  color: red;
}

// ハンバーガーメニュー
header {
  padding:30px;
  background: #ccc;
}
#nav-drawer {
  position: relative;
  padding-top: 22px;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 10px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 6px;/*線の太さ*/
  width: 35px;/*長さ*/
  border-radius: 6px;
  background: #DFEFED;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .9s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 75%;
  max-width: 400px;/*最大幅（お好みで調整を）*/
  height: 100%;
  background: #6AC1B7;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
 display: flex;
 display: -moz-flex;
 display: -o-flex;
 display: -webkit-flex;
 display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}
.logo-area{
  text-align: center;
  margin: auto;
  font-size: 50px;
  }